flask
flask-cors
flask-compress
python-dotenv
gunicorn
pandas
openpyxl
pytz
reportlab
flask-sqlalchemy
sqlalchemy
psycopg2-binary
requests
google-generativeai
google-api-python-client
google-auth
pyjwt
pywebpush
flask-limiter
